<div class="container mt-3 p-5">

        <form [formGroup]="rtform" (ngSubmit)="onSubmit()">

          <div class="form-group">
          <input type="text" class="form-control"
          placeholder="Full Name" required
          formControlName="fullname"
          [ngClass]="{'is-invalid':submitted && func['fullname'].errors}"
          />
            <div *ngIf="submitted && func['fullname'].errors" class="invalid-feedback">
              <div *ngIf="func['fullname'].errors['required']"> Full Name is required </div>
            </div>
          </div>


          <br>

          <div  class="form-group">
          <input type="text" class="form-control"
          placeholder="User Name" required minlength="6" maxlength="10"
          formControlName="username"
          [ngClass]="{'is-invalid':submitted && func['username'].errors}"
          />
          <div *ngIf="submitted && func['username'].errors" class="invalid-feedback">
            <div *ngIf="func['username'].errors['required']"> User Name is required </div>
            <div *ngIf="func['username'].errors['minlength']"> User Name Minlength is of 6 characters.  </div>
            <div *ngIf="func['username'].errors['maxlength']"> User Name Maxlength is of 10 character </div>
          </div>
          </div>


          <br>


          <div  class="form-group">
          <input type="email" class="form-control"
          placeholder="Email" email required
          formControlName="email"
          [ngClass]="{'is-invalid':submitted && func['email'].errors}"
          />
          <div *ngIf="submitted && func['email'].errors" class="invalid-feedback">
            <div *ngIf="func['email'].errors['required']"> Email is required </div>
            <div *ngIf="func['email'].errors['email']"> Email Format is InValid.  </div>
          </div>

          </div>

          <br>

          <div  class="form-group">
          <input type="text" class="form-control"
          placeholder="Password" required minlength="6" maxlength="10"
          formControlName="password"
          [ngClass]="{'is-invalid':submitted && func['password'].errors}"
          />

          <div *ngIf="submitted && func['password'].errors" class="invalid-feedback">
            <div *ngIf="func['password'].errors['required']"> Password is required </div>
            <div *ngIf="func['password'].errors['minlength']"> Password Minlength is of 6 characters.  </div>
            <div *ngIf="func['password'].errors['maxlength']"> Password Maxlength is of 10 character </div>
          </div>

          </div>


          <br>

          <div  class="form-group">
          <input type="text" class="form-control"
          placeholder="Confirmed Password" required
          formControlName="confirmpassword"
          [ngClass]="{'is-invalid':submitted && func['confirmpassword'].errors}"
          />
          <div *ngIf="submitted && func['confirmpassword'].errors" class="invalid-feedback">
            <div *ngIf="func['confirmpassword'].errors['required']"> Confirmed Password is required </div>
            <div *ngIf="func['confirmpassword'].errors['matching']"> Confirm Password is not matched</div>
          </div>

          </div>
          <br>

          <div  class="form-group">
          <button type="submit" class="btn btn-primary form-control"> Login </button>
          </div>

        </form>

</div>
